<div class="banner">
  <div class="banner-content">
    <div class="banner-left">
      <!-- <h3>Fructy, la marketplace <strong>bienveillante
      indépendante et 100% sécurisée</strong>, pour investir sans contrainte"</h3>

      <div class="button-test">
        <a class="btn-test-2">Start now</a> -->
      </div>
    </div>
  </div>
</div>
